:root {
    --main-bg-color: white;
    --main-bg-color-alt: rgba(0, 0, 0, 0.95);
    --main-font-color: black;
    --main-font-color-alt: white;
    --guitar-light: url("../img/guitar-light.jpg");
    --guitar-dark: url("../img/guitar-dark.jpg");
}
body {
    height: 100vh;
    display: flex;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.hero {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    width: 35vw;
}
.hero-text {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 20vh;
    font-size: 4rem; 
    color: white;
    background-color: rgba(0, 0, 0, .5);;
}
.hero-text img {
    height: 10rem;
    width: auto;
}
.photo-credit {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 50px;
}
main {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 65vw;
}
.instructions {
    margin: calc(6vh + 20px) 300px 20px 100px;
    font-size: 1.7rem;
}
.sign-up {
    padding-left: 80px;
    font-size: 1.3rem;
    box-shadow: 0 10px 20px gray;
}
form {
    margin: 20px 0;
    width: 60%;
}
fieldset {
    border: none;
}
.form-row {
    display: flex;
    gap: 50px;
}
.form-row label, .form-row input  {
    display: flex;
    flex-direction: row;
    width: 50%;
}
.form-row label {
    font-size: 0.8rem;
}
.form-row input {
    font-size: 1.3rem;
}
.form-submit {
    margin: 60px 300px 20px 100px;
}
button {
    font-size: 1.5rem;
    padding: 5px 10px;
}
.log-in {
    flex-grow: 1;
    margin: 0px 300px 20px 100px;
    font-size: 1.3rem;
}
footer {
    display: flex;
    justify-content: center;
    margin: 0px 300px 0px 100px;
    height: 50px;
}

/* Light style */
.light .hero {
    background-image: var(--guitar-light);
    background-size: cover;
}

/* Dark style */
.dark .hero {
    background-image: var(--guitar-dark);
    background-size: cover;
}
.dark img {
    -webkit-filter: invert(100%); /* safari 6.0 - 9.0 */
    filter: invert(100%);
}
.dark .photo-credit {
    color: var(--main-font-color-alt)
}
.dark main {
    background-color: var(--main-bg-color-alt);
}
.dark .instructions {
    color: var(--main-font-color-alt);
}
.dark .sign-up {
    background-color: var(--main-bg-color);
}
.dark .log-in {
    color: var(--main-font-color-alt);
}
.dark footer {
    color: var(--main-font-color-alt)
}